* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgb(169, 199, 218), palevioletred);
}

.header .Logo img {
    margin: .5%;
    width: 4%;
}

.Navegadores {
    margin: 1%;
    padding: 1%;
    width: auto;
    background-image: linear-gradient(to top, rgb(169, 199, 218), palevioletred);
    border-radius: 40px;
    text-align: center;
}

.Navegadores li {
    list-style: none;
    display: inline-flex;
    padding: 2%;
}

.Navegadores li a {
    color: white;
    font-size: larger;
    text-decoration: none;
    background-color: palevioletred;
    size: 200px;
    border-radius: 5px;
}

.Navegadores li ul {
    display: none;
    position: absolute;
}

.Navegadores a:hover {
    background-color: white;
    color: palevioletred;
}

.Navegadores li:hover ul {
    display: block;
    padding: 1.5%;
}

.Navegadores li ul li {
    position: relative;
}

#carouselSlidesOnly {
    margin: 1%;
    padding: 1%;
}

.Titulo {
    margin: 2%;
    font-size:large;
    text-align: center;
}

.Subtitulo {
    margin: 2%;
    font-size: small;
    text-align: center;
}

.Principal {
    margin: 3%;
    padding: 1%;
    border: solid rgb(169, 199, 218);
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    font-size: x-large;
}

.Principal img {
    width: 75%;
}

.Central {
    margin: 3%;
    padding: 1%;
    border: solid rgb(169, 199, 218);
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    font-size: x-large  ;
}

.Video {
    display: grid;
    place-content: center;        
}

.Ubicacion {
    margin: 2%;
    padding: 2%;
    display: block;
    border: solid rgb(169, 199, 218);
    border-radius: 40px;
    text-align: center;             
}

.Suscribite {
    margin: 3%;
    padding: 3%;
    display: flexbox;
    text-align: right;
}

.Contacto {
    margin: 3%;
    padding: 3%;
    display: flexbox;
    text-align: center;
}

.Cafecito {
    margin: 2%;
    display: grid;
    place-content: center;    
}

.Peques1, .Peques2, .Peques3 {
    margin: 1%;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.Categorias {
    margin: 1%;
    padding: 1%;
    border: solid palevioletred;
    border-radius: 40px;
    font-size: large;
    display: block;
    text-align: center;
}

.Categorias li {
    list-style-position: inside;
}

.Tabla {
    margin: 1%;
    padding: 1%;
    border: solid rgb(169, 199, 218);
    border-radius: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}

.Casita1, .Casita2, .Casita3 {
    margin: 1%;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.Casita img {
    width: 100%;
}

.Whatsapp {
    margin: 2%;
    display: grid;
    place-content: end;
}

.Pie {
    margin: 1%;
    padding: 1%;
    display: block;
    width: auto;
    background-image: linear-gradient(to top, rgb(169, 199, 218), palevioletred);
    text-align: center  ;
    border-radius: 40px;

}


.Pie img {
    width: 4%;
    transition: width 2s;
}

.Pie img:hover {
    width: 10%;
}

.Suscribite {
    margin: 5px;
}

@media (max-width: 720px) {
    .Navegadores li, .Principal, .Central, .Ubicacion, .Video {
        display: block;
        justify-content: center;
    }
 
    .Logo {
        display: flex;
        width: 300%;
        padding-left: 48%;
    }
 
    .Navegadores li:hover ul {
        display: none;
    }
 
    iframe {
        width: 90%;
    }
 
    .Peques1, .Peques2, .Peques3, .Casita1, .Casita2, .Casita3 {
        display: grid;
        grid-template-columns: 100%;
    }
}